<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Encryption</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>End to End Encryption</h1>
      <form method="POST" action="/">
        <div class="form-control">
          <label for="messege">Enter Your Messege</label><br />
          <textarea
            type="text"
            name="messege"
            id="messege"
            rows="5"
            cols="20"
          ></textarea>
        </div>
        <button type="submit">Send</button>
      </form>
      <div class="bottom">
        <p><span>Your Messege : </span><%= original %></p>
        <p><span>Encrypted Messege : </span><%= encrypted %></p>
        <p><span>Decrypted Messege : </span><%= messege %></p>
      </div>
    </div>

    <footer>Made with ❤️ by <span>Yugank Verma</span></footer>
  </body>
</html>
